<div class="container">
  {{title}}
  <div class="todo-list">
    <div class="input-group">
      <input type="text" placeholder="Todo" #newTask/>
       <button class="add-button" (click)="add(newTask.value)">Add</button>
  </div>
  <table>
    <tr *ngFor="let task of tasks; let i = index" [class.even]="i%2==0" [class.oppo]="i%2">
      <td [class.is-done]="task.isDone">
        
          ・{{task.title}}
      </td>
      <td>
        <button class="remove-button" (click)="remove(task)">X</button>
        <button class="done-button" (click)="task.toggleIsDone()">
          {{task.isDone ? "Undo" : "Done"}}
        </button>
      </td>
    </tr>
    <!-- <tr class="even">
      <td>
        
          ・Visit Ann
      </td>
      <td>
        <button class="remove-button">X</button>
        <button class="done-button">Done</button>
      </td>
    </tr> -->
  </table>
  </div>
</div>