<div class="container">
  {{title}}
  <div class="todo-list">
    <div class="input-group">
      <input type="text" placeholder="Todo" #newTask/>
       <button class="add-button" (click)="add(newTask.value)">Add</button>
  </div>
  <table>
    <tr *ngFor="let task of tasks" class="even">
      <td>
        
          ・{{task}}
      </td>
      <td>
        <button class="remove-button">X</button>
        <button class="done-button">Done</button>
      </td>
    </tr>
    <!-- <tr class="even">
      <td>
        
          ・Visit Ann
      </td>
      <td>
        <button class="remove-button">X</button>
        <button class="done-button">Done</button>
      </td>
    </tr> -->
  </table>
  </div>
</div>